@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}




body{
    background-color:gainsboro;
}

header{
	padding: 12px 20px;
	background-color: #fff;
	box-shadow: 0 2px 4px #888;

}

.brand{
	padding: 0px;
    font-family: 'Vibur', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;

}


.menus{
    float:right;
}


.icon{
    display: none
}

a{ 	padding: 0px 23px;
	text-decoration : none;
	font-family: 'Abel', sans-serif;
	opacity: .95;
}


.fa, .fas{
    padding-right: 5px;
}

.fa-blog{
    font-size: 1.5em;
}

.fa-share-alt{
    color: #108dc7;
}

.fa .fa-share-alt::after{
    color: #108dc7;
    content: Share;
}

.newsflash{
    background-color: #f4f4f4;
    margin-top:3px;
    box-shadow: 0 2px 4px #888;
}

marquee{
    overflow: hidden;
    
    margin-left: 7.9%;
}

.flash{
    background-color: #f08b18;
    float: left;
    position: absolute;
    padding: 2px;
    margin-right: 4px;
}

.news-Section, .sport-section, .science-section, .education-section{
    display: grid;
    grid-template-columns: repeat(4, 23%);
    grid-column-gap: 2%;
    margin: 20px 2%;
}

.news-Section, .sport-section{
    
    width:100%;
    clear: both;
}

.card{
    /* width: 20%;
    margin-right: 2%;
    margin-left: 2%; */
    background-color:#fff; 
    
    box-shadow: 2px 4px 3px grey;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 25px;
    margin-top: 15px;
    overflow: hidden;
    
    
    
}


.card-header{
    background-color: #108dc7; 
    width: 100%;
}

.card-header, p {
    padding: 10px 5px;
    text-decoration: black;
}

.card-image {
width: 100%;

}

img {
    width: 100%;
    height: 180px;
    filter: contrast(50%);
    transition: width cubic-bezier(0.175, 0.885, 0.32, 1.275) ease, height cubic-bezier(.2, .6, .19, .71) ease-in-out;
    }

img:hover{
    width: 105%;
    height: 190px;
    filter: none;
    
    }
   
.card-content {
    padding: 10px 5px;
    margin-bottom: 10px;
    font-family: 'Inconsolata', monospace;
   
}

.fab{
    color:white;
    width: 14px;
    height: 14px;
}

.btn{
    position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #25D366;
    color: #fff;
    border-radius: 3px;
    font-weight: 500;
    cursor: pointer;
    font-size: 15px;
}


.news-title{
    word-wrap: none;
}

hr{
    clear:both;
}

footer{
    border-top: 2px solid #fff;
    margin-top: 20px;
    padding: 12px 0;
    text-align: center;
}

footer p{
    color: #4c4c4c;
    line-height: 1.5em;
    clear: both;
}

.share{
    width: 90%;
    margin-left: 5px;
}

.read{
    width: 45%;
    float: left;

}

.social-share{
    width: 55%;
    float: left;
}

.socials{
    padding: 5px 10px;
}

button{
    padding: 8px 05px;
    
    margin-bottom: 5px;
    background: transparent;
}

button a{
    border-bottom-color: none;
    text-decoration: none;
}



    /* Smartphones (portrait) ----------- */
@media only screen and (max-width : 800px) {
    .news-Section, .sport-section, .science-section, .education-section{
        grid-template-columns: repeat(2, 45%);
        margin-left: 15px;
        grid-column-gap: 15px;
       } 

       .newsflash{
           display: none
       }

       

       .menus a{
           display: none;
       }

       .menus a .icon{
           display: block
       }

       .menus :hover{
        display: block;
    }
       
    }


    /* Smartphones (portrait) ----------- */
@media only screen and (max-width : 412px) {
    .news-Section, .sport-section, .science-section, .education-section{
        grid-template-columns: 90%;
        margin-left: 15px;
        grid-column-gap: 15px;
       } 

       .newsflash{
           display: none
       }
    }
  
  /* ======================= Nexus 5 ====================== */

  /* @media only screen 
and (min-width: 360px) 
and (orientation: portrait)
and (-webkit-min-device-pixel-ratio: 3.0) {
    .news-Section, .sport-section, .science-section, .education-section{
        grid-template-columns: 90%;
        margin-left: 20px;
       } 

       .newsflash{
           display: none
       }
        */


