@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

:root{
    --focus-inner-color: #fff;
    --focus-outer-color: #0069d4;
}




.holder{
    background-color:gainsboro;
}

.navbar-default {
    background-color: #fff !important;
    border:none;
    border-radius: 0;

	box-shadow: 0 2px 4px #888;

}

.navbar-brand{
	padding: 0px;
    font-family: 'Vibur', cursive, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;

}


.fa, .fas{
    padding-right: 5px;
}

.fa-blog{
    font-size: 1.5em;
}

.fa-share-alt{
    color: #108dc7;
}

.fa .fa-share-alt::after{
    color: #108dc7;
    content: Share;
}


.news-Section, .sport-section, .science-section, .education-section{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    grid-column-gap: 20px;
    margin: 20px 2%;
}

.news-Section, .sport-section{
    clear: both;
}

.card{
    background-color:#fff; 
    box-shadow: 2px 4px 3px grey;
    border-radius: 0px 0px 5px 5px;
    margin-bottom: 25px;
    margin-top: 15px;
    overflow: hidden;
}


.card-header{
    background-color: #108dc7; 
    width: 100%;
}

.card-header, p {
    padding: 10px 5px;
    text-decoration: black;
}

.card-image {
width: 100%;

}

img {
    width: 100%;
    height: 180px;   
    transition: width cubic-bezier(0.175, 0.885, 0.32, 1.275) ease, height cubic-bezier(.2, .6, .19, .71) ease-in-out;
    transition: transform 1s;
    }

img:hover{
    width: 105%;
    height: 190px;
    transform: translateY(-10px);
    filter: contrast(50%);
    
    }
   
.card-content {
    padding: 10px 5px;
    margin-bottom: 10px;
    font-family: 'Inconsolata', monospace;
   
}

.fab{
    color:white;
    width: 14px;
    height: 14px;
}

.was{
    position: relative;
    height: 20px;
    box-sizing: border-box;
    padding: 1px 8px 1px 6px;
    background-color: #25D366;
    color: #fff;
    border-radius: 3px;
    /* font-weight: 500; */
    cursor: pointer;
    

    
}


.news-title{
    word-wrap: none;
}



.page-footer{
    border-top: 2px solid #fff;
    margin-top: 20px;
    padding: 12px 0;
    text-align: center;
}

.page-footer p{
    color: #4c4c4c;
    line-height: 1.5em;
    clear: both;
}

.share{
    width: 90%;
    margin-left: 5px;
}

.read{
    width: 45%;
    float: left;

}

.social-share{
    width: 55%;
    float: left;
}

.socials{
    padding: 5px 10px;
}

button{
    padding: 0.75em 0.75em;
    margin-bottom: 5px;
    background: transparent;
    border:none;
    border-radius: 0.5em;
    background: #ebebeb;
    margin-left:5px;
}
button:hover,
button:focus {
  background: #ddd;
}


button:focus {
    outline: none;
    box-shadow: 0 0 0 .075rem var(--focus-inner-color), 
                0 0 0 .2rem var(--focus-outer-color);
  }


